<script>
    
    function activarDes(id) {
        // Hacer una solicitud GET al servidor con el ID del producto
        fetch(`/products/acDes/${id}`, {
        method: 'GET'
    })
    
        .then(response => {
            if (!response.ok) {
                throw new Error('Error al activar/desactivar el producto');
            }
            // Parsear la respuesta como JSON
            return response.json();
        })
        .then(data => {
            // Obtener el valor de activo de la respuesta
            const activo = data.activo;
            console.log('Estado de activo adquirido:', activo);

            cambio(id, activo)
            //console.log(id)
            
        })
        .catch(error => {
            console.error('Error al activar/desactivar el producto:', error);
            // Manejar el error aquí, por ejemplo, mostrar un mensaje de error al usuario
        });
    }


    async function cambio(id, activo){
        console.log(id)
        console.log(activo)
        auxActi = (activo === false) ? true : false;
        // Actualizar el valor del input de texto
        const inputElement = document.querySelector(`input[name="inp_${id}"]`);
        inputElement.value = auxActi;
        const iconElement = document.querySelector(`i[id="icono_${id}"]`);
        if (activo === false) {
            iconElement.classList.remove('fas', 'fa-eye-slash');
            iconElement.classList.add('fas', 'fa-eye');
        }else {
            iconElement.classList.remove('fas', 'fa-eye');
            iconElement.classList.add('fas', 'fa-eye-slash');
        }
        

        const url = `/products/acDes/${id}`;
        const data2 = { id, activo };

        try {
        const response = await fetch(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data2)
        });

        if (!response.ok) {
            throw new Error('Error al llamar al método PUT');
        }

        console.log('Método PUT llamado con éxito');
        
        } catch (error) {
            console.error('Error al llamar al método PUT:', error);
        }
                    // Aquí puedes actualizar la interfaz de usuario según el valor de activo
    }
</script>




<hr>
<div class="row">
    {{#each prod}}
        <div class="card border-dark mb-3" style="max-width: 20rem; min-width: 15rem">
            <div class="card-header all-cards-titulo">
                <div>
                    <h5>Prd:{{nombre}}</h5>
                    <h5>Mar:{{marca}} </h5> 
                </div>
                <button id="actiDes_{{_id}}" onclick="activarDes('{{_id}}')" class="prod_styles_card_boton">
                    <i id="icono_{{_id}}" class="fas {{#if activo}}fa-eye{{else}}fa-eye-slash{{/if}}"></i>
                </button>
                <input type="hidden" name="inp_{{_id}}" value="{{activo}}" id="">
            </div>
            <div class="card-body text-dark">
                <div class="all-card-boton-borrado">
                    <h4>Precio $: {{precio}}</h4>
                    <form id="deleteForm" action="/products/delete/{{_id}}?_method=DELETE" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger btn-block btn-sn">
                            Borrar
                        </button>
                    </form>
                </div>
                <div>
                    <h5>Accesos:</h5>
                </div>
                <div class="all-cards-accesos">
                    <h4 class="card-text">Detail:  <a href="/products/preview/{{_id}}"><i class="fas fa-info"></i></i></a></p>
                    <h4 class="card-text">Img:  <a href="/products/edit/img/{{_id}}"><i class="fas fa-images"></i></a></h4>
                    <h4 class="card-text">Stock:   <a href="/products/edit/stock/{{_id}}"><i class="fas fa-box"></i></a></h4>
                    <h4 class="card-text">Edit:   <a href="/products/edit/{{_id}}"><i class="fas fa-edit"></i></a></h4>
                </div>
                
            </div>
        </div>
    {{/each}}
</div>
<hr>